body {
	background-color: #020B2F;
	font-size: 10px;
	margin: 0;
	font-family: Helvetica,Arial,sans-serif;
}

header, footer {
	color: #fff;
}
header, footer a {
	color: #fff;
}

section {
	border: none;
	background-color: #fff;
	padding: 5px;
}
footer {
  position: absolute;
  bottom: 0;
}

@media screen and (min-width: 992px) {
	body {
		margin: 10%;
		font-size: 18px;
	}
	section {
		border: 2px solid #000;
		padding: 20px;
	}
}
